{% extends 'email-base.html.twig' %}

{% block body %}
<table class="row">
    <tr>
        <th class="columns first last">
            <table>
                <tr>
                    <th>
                        <h4>Forgot your password?</h4>
                        <table class="button expanded">
                            <tr>
                                <td>
                                    <table>
                                        <tr>
                                            <td><a href="{{ link }}">Reset password</a></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                        <p>Click the button above, or copy/paste this link into your browser: <a href="{{ link }}">{{ link }}</a></p>
                    </th>
                    <th class="expander"></th>
                </tr>
            </table>
        </th>
    </tr>
</table>
{% endblock %}